<!DOCTYPE html>
<html lang="ja" ng-app="myApp" ng-strict-di>
<head>
    <meta charset="utf-8">
    <title>パラノイア:トラブルシューターズ UV支援ツール V1.1 L20</title>
    <link rel="stylesheet" href="./program/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./program/lib/bootstrap/css/dashboard.css">
    <script src="./program/lib/jQuery/jquery.min.js"></script>
    <script src="./program/lib/angularJS/angular.min.js"></script>
    <script src="./program/lib/bootstrap/js/bootstrap.min.js"></script>
    <style>
        .bottom-line{
            border-bottom: 1px solid #000;
        }
        .bottom-line-light_gray{
             border-bottom: 1px solid #AAA;
        }

        .dotted_area {
            border: 4px dotted #000;
            height: 20em;
            padding: 2em;
        }
    </style>

    <!-- angularjs projects -->
    <script src="./program/angular/app.js"></script>
    <script src="./program/angular/services/screen.js"></script>
    <script src="./program/angular/services/character.js"></script>
    <script src="./program/angular/services/weapon.js"></script>
    <script src="./program/angular/controllers/screen.js"></script>
    <script src="./program/angular/controllers/left_panel.js"></script>
    <script src="./program/angular/controllers/character.js"></script>
    <script src="./program/angular/controllers/weapon.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand" style="color: #FFF">ﾄﾗﾌﾞﾙｼｭｰﾀｰｽﾞ GM支援ﾂｰﾙ</div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 sidebar">
            <ul class="nav nav-sidebar" ng-controller="LeftPanelCtrl as left">
                <li>
                    <a ng-click="left.request_character_create()">キャラ登録</a>
                </li>
                <li>
                    <ul>
                        <li ng-repeat="record in left.characters"><a ng-click="left.request_character_show(record)">{{record['基本情報']['市民名']}}</a></li>
                    </ul>
                </li>
                <li><a href="#">戦闘処理(未実装)</a></li>
                <li><a ng-click="left.request_weapon_viewer()">武器表</a></li>
                <li><a href="#">アイテム表(未実装)</a></li>
            </ul>
        </div>
        <div class="col-sm-10 col-md-10 col-sm-offset-2 col-md-offset-2 main" ng-controller="ScreenCtrl as screen">
            <section ng-show="screen.page.name=='welcome'">
                <script src="./program/partial/welcome.html.js"></script>
            </section>
            <section ng-show="screen.page.name=='character_create'" ng-controller="CharacterCtrl as character">
                <script src="./program/partial/character_create.html.js"></script>
            </section>
            <section ng-show="screen.page.name=='character_viewer'"  ng-controller="CharacterCtrl as character" >
                <script src="./program/partial/character_viewer.html.js"></script>
            </section>
            <section ng-show="screen.page.name=='weapon_viewer'"  ng-controller="WeaponCtrl as weapon" ng-init="weapon.init();">
                <script src="./program/partial/weapon_viewer.html.js"></script>
            </section>
        </div>
    </div>
</div>

</body>
</html>
